[include mainsail.cfg]
[include sovol-macros.cfg]
[include print-macros.cfg]
#[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN
[include eddy-ng.cfg]
[include shelly_1PM.cfg]
[include shaketune.cfg]
[include EBB36.cfg]

[mcu]      
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD605334E563617772051-if00
restart_method: command     

# [mcu extra_mcu]
# serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_55FF72064849825347111667-if00
# restart_method: command  

[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_0B001300134330534E373720-if00
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[respond]

[printer]
kinematics: corexy           
max_velocity: 200            
max_accel: 20000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 64 #16               
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop:355       
position_max: 355            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: False #True             
run_current: 0.8 #1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 64                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: False             
run_current: 0.8              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0 #war auskommentiert
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 0 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 0 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 0 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 0 

# [thermistor my_thermistor_e]
# temperature1:25
# resistance1:110000
# temperature2:100
# resistance2:7008
# temperature3:220
# resistance3:435

      

# [verify_heater extruder]      
# max_error: 120                
# check_gain_time:30           
# hysteresis: 5                
# heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 120                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 



# [quad_gantry_level]          
# gantry_corners:              
# 	-60,-10
# 	410,420
# points:
# 	36,10
# 	36,320
# 	346,320
# 	346,10
# speed: 200                   
# horizontal_move_z: 10       
# retry_tolerance: 0.05      
# retries: 5                  
# max_adjust: 30   

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	16,10
	16,320
	340,320
	340,10
speed: 200                   
horizontal_move_z: 10       
retry_tolerance: 0.05      
retries: 5                  
max_adjust: 30


[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
[controller_fan MCU_fan]
pin: PA1
max_power: 1
kick_start_time: 0.5
fan_speed: 1
idle_timeout: 300
heater:  extruder, heater_bed 
stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
#[temperature_fan MCU_fan]
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#hardware_pwm: true
#target_temp: 50
#sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
#max_speed: 1.0
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan


[gcode_arcs]                       
resolution: 1.0                    

# Defined as an LED for ease of control
[led main_led]
white_pin:PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110


[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: expander:PA6
gcode_id: T3

[temperature_sensor Printplate]
sensor_type: Generic 3950
sensor_pin: expander:PA5
gcode_id: T1

# [board_pins]
# aliases:
#     # EXP1 header
#     EXP1_1=PA8,   EXP1_2=PC9,
#     EXP1_3=PA10,  EXP1_4=PA9,
#     EXP1_5=PC11,  EXP1_6=PC10,
#     EXP1_7=PD8,   EXP1_8=PC12,
#     EXP1_9=<GND>, EXP1_10=<5V>,

#     # EXP2 header
#     EXP2_1=PB14,  EXP2_2=PB13,
#     EXP2_3=PC7,   EXP2_4=PB12,
#     EXP2_5=PC6,   EXP2_6=PB15,
#     EXP2_7=PC8,   EXP2_8=<RST>,
#     EXP2_9=<GND>, EXP2_10=<5V>

# [temperature_sensor Bauraum]
# sensor_type: Generic 3950
# sensor_pin: EXP2_7
# #pullup_resistor: 2200

[pause_resume]

[exclude_object]


[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:1
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
#shaper_type_x = mzv
#shaper_freq_x = 35
#shaper_type_y = mzv
#shaper_freq_y = 35

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

[probe_eddy_ng btt_eddy]
#tap_adjust_z: 0.165

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 53.298
#*# pid_ki = 1.356
#*# pid_kd = 523.654
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.025504, 0.038637, 0.096318, 0.138331, 0.158295, 0.170509, 0.182723, 0.187556, 0.186416, 0.169372, 0.154695, 0.118694, 0.072312, 0.033492, -0.006596
#*# 	-0.034785, 0.024167, 0.054234, 0.101119, 0.120873, 0.141055, 0.148963, 0.151416, 0.154695, 0.143237, 0.127964, 0.101119, 0.064964, 0.024167, -0.010611
#*# 	-0.027015, 0.041250, 0.080787, 0.101119, 0.127964, 0.140784, 0.152507, 0.152510, 0.150325, 0.138331, 0.119785, 0.099992, 0.055361, 0.024167, -0.016870
#*# 	-0.021943, 0.045296, 0.081914, 0.101119, 0.119785, 0.138331, 0.146510, 0.148963, 0.146510, 0.129055, 0.110509, 0.091516, 0.062710, 0.021357, -0.028202
#*# 	-0.029390, 0.044056, 0.073439, 0.101119, 0.129055, 0.142966, 0.150325, 0.150325, 0.141055, 0.124697, 0.101119, 0.078240, 0.053107, 0.013602, -0.023130
#*# 	0.004274, 0.062710, 0.090389, 0.117603, 0.135058, 0.147601, 0.153601, 0.145419, 0.141055, 0.126873, 0.115147, 0.081914, 0.054234, 0.021357, -0.011798
#*# 	-0.006544, 0.053107, 0.085588, 0.105856, 0.119785, 0.129055, 0.132602, 0.133967, 0.127964, 0.118694, 0.097444, 0.035968, 0.034732, 0.003038, -0.025828
#*# 	0.018885, 0.063837, 0.093770, 0.115147, 0.123329, 0.129055, 0.145419, 0.140784, 0.138331, 0.127964, 0.110509, 0.081914, 0.057612, 0.029120, -0.015501
#*# 	-0.027015, 0.042816, 0.072312, 0.091516, 0.103379, 0.110509, 0.121961, 0.122241, 0.110509, 0.101119, 0.089262, 0.073439, 0.045296, 0.007983, -0.018058
#*# 	-0.019568, 0.048721, 0.062710, 0.081914, 0.091516, 0.101119, 0.117603, 0.125785, 0.110509, 0.086715, 0.081914, 0.071185, 0.038774, 0.006747, -0.016870
#*# 	-0.025828, 0.037208, 0.062710, 0.084168, 0.099992, 0.110509, 0.111600, 0.119785, 0.115147, 0.103379, 0.081914, 0.062710, 0.029449, -0.000102, -0.027019
#*# 	0.000228, 0.030686, 0.062710, 0.091516, 0.101119, 0.114056, 0.122241, 0.124697, 0.119785, 0.110509, 0.089262, 0.063837, 0.042816, 0.024167, -0.025828
#*# 	-0.033275, 0.045296, 0.072312, 0.091516, 0.110509, 0.127964, 0.129055, 0.119785, 0.112691, 0.108333, 0.099992, 0.071185, 0.037208, 0.013602, -0.012985
#*# 	-0.033275, 0.024167, 0.062710, 0.092643, 0.119785, 0.135058, 0.131511, 0.117603, 0.111600, 0.112691, 0.099992, 0.062710, 0.034732, 0.013602, -0.023130
#*# 	-0.044930, 0.034732, 0.063837, 0.112691, 0.135058, 0.146510, 0.153601, 0.138331, 0.129055, 0.129055, 0.116515, 0.072312, 0.034732, 0.013602, -0.012985
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.5
#*# min_x = 15.0
#*# max_x = 334.90000000000003
#*# min_y = 18.0
#*# max_y = 334.95999999999987
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 65.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 45.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibration_15 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIK0XnWOIcR0FILAHPlLIiR0FILL230IIpR0FILXmgDFIvR0FILjWISCI1R0FILvFwg/I7R0FIL61Yv8JCR0FIMGlA+5JIR0FIMSUpN2JOR0FIMeERczJUR0FIMpz5rwJbR0FIM1jh6tJhR0FINBTKJqJnR0FINNCyYnJtR0FINYyankJ0R0FINkiC2hJ6R0FINwRrFeKAR0FIN8BTUbKHR0FIOHw7jYKNR0FIOTgjyVKTR0FIOfQMBSKZR0FIOq/0QPKgR0FIO2vcfMKmR0FIPCfEuJKsR0FIPOOs9GKyR0FIPZ+VMDK5R0FIPlt9bAK/R0FIPxdlp9LFR0FIP9NN46LMR0FIQI82H3LSR0FIQUseW0LYR0FIQgcGlxLeR0FIQsLu0uLlR0FIQ37XDrLrR0FIRDq/SoLxR0FIRPanhlL3R0FIRbKPwiL+R0FIRm53/fMER0FIRypgOcMKR0FIR+ZIdZMQR0FISKIwsWMXR0FISV4Y7TMdR0FIShoBKQMjR0FIStXpZNMqR0FIS5HRoKMwR0FITE253HM2R0FITQmiGEM8R0FITcWKVBNDR0FIToFyj+NJR0FITz1ay7NPR0FIT/lDB4NVR0FIULUrQ1NcR0FIUXETfyNiR0FIUiz7uvNoR0FIUujj9sNuR0FIU6TMMpN1R0FIVGC0bmN7R0FIVRycqjOBR0FIVdiE5gOIR0FIVpRtIdOOR0FIV1BVXaOUR0FIWAw9mXOaR0FIWMgl1UOhR0FIWYQOEROnR0FIWj/2TOOtR0FIWvveiLOzR0FIW7fGxIO6R0FIXHOvAFPAR0FIXS+XPCPGR0FIXet/d/PNR0FIXqdns8PTR0FIX2NP75PZR0FIYB84K2PfR0FIYNsgZzPmR0FIYZcIowPsR0FIYlLw3tPyR0FIYw7ZGqP4R0FIY8rBVnP/R0FIZIapkkQFR0FIZUKRzhQLR0FIZf56CeQRR0FIZrpiRbQYR0FIZ3ZKgYQeR0FIaDIyvVQkR0FIaO4a+SQrR0FIaaoDNPQxR0FIamXrcMQ3R0FIayHTrJQ9R0FIa9276GRER0FIbJmkJDRKR0FIbVWMYARQR0FIbhF0m9RWR0FIbs1c16RdR0FIb4lFE3RjR0FIcEUtT0RpR0FIcQEVixRwR0FIcbz9xuR2R0FIcnjmArR8R0FIczTOPoSCR0FIc/C2elSJR0FIdKyetiSPR0FIdWiG8fSVR0FIdiRvLcSbR0FIduBXaZSiR0FId5w/pWSoR0FIeFgn4TSuR0FIeRQQHQS0R0FIec/4WNS7R0FIeovglKTBR0FIe0fI0HTHR0FIfAOxDETOR0FIfL+ZSBTUR0FIfXuBg+TaR0FIfjdpv7TgR0FIfvNR+4TnR0FIf686N1TtR0FIgGsicyTzR0FIgScKrvT5R0FIgeLy6sUAR0FIgp7bJpUGR0FIg1rDYmUMR0FIhBarnjUSR0FIhNKT2gUZR0FIhY58FdUfR0FIhkpkUaUlR0FIhwZMjXUsR0FIh8I0yUUyR0FIiH4dBRU4R0FIiToFQOU+R0FIifXtfLVFR0FIirHVuIVLR0FIi2299FVRR0FIjCmmMCVXR0FIjOWOa/VeR0FIjaF2p8VkR0FIjl1e45VqR0FIjxlHH2VwR0FIj9UvWzV3R0FIkJEXlwV9R0FIkUz/0tWDR0FIkgjoDqWKR0FIksTQSnWQR0FIk4C4hkWWR0FIlDygwhWcR0FIlPiI/eWjR0FIlbRxObWpR0FIlnBZdYWvR0FIlyxBsVW1R0FIl+gp7SW8R0FImKQSKPXCZYwBaJRdlChHQC32R64UeuBHQCtrO/umFL1HQCkjhqsIh4xHQCdcO2PvJmJHQCW+hPhlgV1HQCRu9Ldgm0BHQCNImS3SYtVHQCJyt4AkXsdHQCGYadoJZ/NHQCDMrmaJHh1HQB/xfgqwdaJHQB6xyOFLtbFHQB2ihNpKYrZHQByW3Opm5rFHQBu2TwWiBVFHQBqqsL6fx9dHQBnwasnjOwJHQBkGusslnrZHQBhj1j2hGwRHQBeVilkGGN1HQBbt7rMkdU9HQBZc6bcVz7NHQBXWTb1Uh0BHQBUjF2CS0M1HQBSf+0YafF1HQBQkiBzANMZHQBOk0oGtKQNHQBMr2uWhUUtHQBK44FdHza1HQBJHEiN4R7pHQBHToQ1aqc1HQBF6lNTxT1NHQBESx1KjZ4xHQBCnLfF1xDNHQBBOTWMQfV1HQA/sHVk8VUZHQA87ygzYnKtHQA6TkFcRRc9HQA3wCtOvkTJHQA1TrtbWaVVHQAzF0CAxhepHQAwyRsTQzfhHQAuJxllVSJpHQAr5W6Tc7B1HQAqDgO07VfJHQAn/s2jxVa1HQAmAc58hAQBHQAkJi8uXlOBHQAiI8Wq76QtHQAgOVC0rxZBHQAeeZkD/X+xHQAcsCUmCp85HQAa/MbFNE2VHQAZOpXpdQzpHQAXaGL87DT9HQAVvAcdJh1FHQAUSv2aKTQZHQASue1uJnUxHQARKAja4eFtHQAPglz3IGy1HQAN8L8RgGMdHQAMl9hMwlY1HQALPGi4ZWmtHQAJ44W55T6JHQAIhO3D8kPxHQAHKrS0IGjhHQAFz4I/0w/pHQAEg80clc0JHQADP4SnVv1hHQAB+QGvMRvpHQAAuI/9EtZZHP/+7WG19tcZHP/8jv3vLpzJHP/6L30B2Up5HP/3trhsWVZtHP/1fw/u10olHP/zP8lEsx+JHP/xEAVSkyPpHP/vEqkdLRT5HP/s8hEvhWA9HP/q0aMPudRFHP/ou7WUm7uxHP/mruiwHUAJHP/kpzfPV7TtHP/iu+hNnUTpHP/gxJoAIYgxHP/e4Vfo3w+ZHP/dARIdTPZZHP/bP8LUzs2tHP/ZTy0vdYq1HP/XdtFc+mjdHP/VoLMon2VlHP/T5Z7nzrilHP/SFf9xLZIlHP/QP+nGK66pHP/OgXkDvUvpHP/MzFoZj1blHP/LKfJS/yttHP/JZ5HNv2BhHP/HwvX+LBy9HP/GJ0C2GE/pHP/EmDD6b3bdHP/C3gpa+Ir9HP/BSIWrHyFZHP+/G31wr70xHP+7l+AHIaxZHP+4aMsFT335HP+1U4cftTfRHP+ycFxxLE0JHP+vWC2B0BsRHP+sgzhYq5jBHP+p8E0+ufFpHP+nGvMv95pZHP+kTD5w+yaNHP+hVthyXRulHP+eTFwdWebxHP+bTyth84RpHP+YWHCRrR5VHP+Vob7vlyzJHP+SuDtORQURHP+P6POd0pjtHP+NU0RWRRHBHP+KsuQZ4fmdHP+IFW85+nH5HP+FeMGuFbJRHP+Cve9lSh+1HP9/wfoHBbTdHP96TWx+gqX5HP904Qx6YH8JHP9vyaw9XIDNHP9qsKWw6ZLFHP9lT4RrTZe1HP9gLcVIEObVHP9bFqeZj//FHP9Vzlid6sqxHP9Q+euZ+gwFHP9MOAClQhkFHP9G/nGK4y3RHP9B+2RiJIGZHP86kX4iSFiZHP8xYrKjP2pVHP8neijc8+n1HP8eXvcGWFIdHP8URrOviuJdHP8K2yd24vEZHP8BVvE75FY1HP7xNGsWqBThHP7ez6Rqnl4VHP7Maovecr+xHP62j1wo9cLBljAdoX3JhbmdllEc/raPXCj1wsEdALfZHrhR64IaUjAdmX3JhbmdllEdBSCtF51jiHEdBSJikEij1woaUjAJkY5RLD3Uu
#*# calibration_16 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIDj4/wtVFR0FIDxqdH971R0FID/b6fOilR0FIENNX2fJWR0FIEa+1NvwGR0FIEowSlAW2R0FIE2hv8Q9mR0FIFETNThkWR0FIFSEqqyLHR0FIFf2ICCx3R0FIFtnlZTYnR0FIF7ZCwj/XR0FIGJKgH0mHR0FIGW79fFM4R0FIGkta2VzoR0FIGye4NmaYR0FIHAQVk3BIR0FIHOBy8Hn5R0FIHbzQTYOpR0FIHpktqo1ZR0FIH3WLB5cJR0FIIFHoZKC5R0FIIS5FwapqR0FIIgqjHrQaR0FIIucAe73KR0FII8Nd2Md6R0FIJJ+7NdEqR0FIJXwYktrbR0FIJlh17+SLR0FIJzTTTO47R0FIKBEwqffrR0FIKO2OBwGbR0FIKcnrZAtMR0FIKqZIwRT8R0FIK4KmHh6sR0FILF8DeyhcR0FILTtg2DIMR0FILhe+NTu9R0FILvQbkkVtR0FIL9B4708dR0FIMKzWTFjNR0FIMYkzqWJ+R0FIMmWRBmwuR0FIM0HuY3XeR0FINB5LwH+OR0FINPqpHYk+R0FINdcGepLvR0FINrNj15yfR0FIN4/BNKZPR0FIOGweka//R0FIOUh77rmvR0FIOiTZS8NgR0FIOwE2qM0QR0FIO92UBdbAR0FIPLnxYuBwR0FIPZZOv+ogR0FIPnKsHPPRR0FIP08Jef2BR0FIQCtm1wcxR0FIQQfENBDhR0FIQeQhkRqRR0FIQsB+7iRCR0FIQ5zcSy3yR0FIRHk5qDeiR0FIRVWXBUFSR0FIRjH0YksDR0FIRw5Rv1SzR0FIR+qvHF5jR0FISMcMeWgTR0FISaNp1nHDR0FISn/HM3t0R0FIS1wkkIUkR0FITDiB7Y7UR0FITRTfSpiER0FITfE8p6I0R0FITs2aBKvlR0FIT6n3YbWVR0FIUIZUvr9FR0FIUWKyG8j1R0FIUj8PeNKlR0FIUxts1dxWR0FIU/fKMuYGR0FIVNQnj++2R0FIVbCE7PlmR0FIVoziSgMWR0FIV2k/pwzHR0FIWEWdBBZ3R0FIWSH6YSAnR0FIWf5XvinXR0FIWtq1GzOIR0FIW7cSeD04R0FIXJNv1UboR0FIXW/NMlCYR0FIXkwqj1pIR0FIXyiH7GP5R0FIYATlSW2pR0FIYOFCpndZR0FIYb2gA4EJR0FIYpn9YIq5R0FIY3ZavZRqR0FIZFK4Gp4aR0FIZS8Vd6fKR0FIZgty1LF6R0FIZufQMbsqR0FIZ8QtjsTbR0FIaKCK686LR0FIaXzoSNg7R0FIallFpeHrR0FIazWjAuubR0FIbBIAX/VMR0FIbO5dvP78R0FIbcq7GgisR0FIbqcYdxJcR0FIb4N11BwMR0FIcF/TMSW9R0FIcTwwji9tR0FIchiN6zkdR0FIcvTrSELNR0FIc9FIpUx+R0FIdK2mAlYuR0FIdYoDX1/eR0FIdmZgvGmOR0FId0K+GXM+R0FIeB8bdnzvR0FIePt404afR0FIedfWMJBPR0FIerQzjZn/R0FIe5CQ6qOvR0FIfGzuR61gR0FIfUlLpLcQR0FIfiWpAcDAR0FIfwIGXspwR0FIf95ju9QgR0FIgLrBGN3RR0FIgZcedeeBR0FIgnN70vExR0FIg0/ZL/rhR0FIhCw2jQSSR0FIhQiT6g5CR0FIheTxRxfyR0FIhsFOpCGiR0FIh52sAStSR0FIiHoJXjUDR0FIiVZmuz6zR0FIijLEGEhjR0FIiw8hdVITR0FIi+t+0lvDR0FIjMfcL2V0R0FIjaQ5jG8kR0FIjoCW6XjUZYwBaJRdlChHQC32KPXCj1pHQCqg4uiQuZZHQChXBqGlOplHQCaAM5KhXEFHQCUMxNdxZrdHQCOUGTv5MRJHQCJvLKGMkk5HQCF5YgnQ9BBHQCC12A12TF1HQB/od1yGnvNHQB6cV8hrtmpHQB1fMM4mfyBHQBwzBwNAjLZHQBsvUKw5hdhHQBo6MPuaAopHQBlGseYMQcNHQBhrp9UBJrJHQBei34M2CrJHQBb3MVU4Dq1HQBZHag9Yfc5HQBWsVJMQa0hHQBT7CECZ4F9HQBR0ZgQKYVFHQBPozRc4CkVHQBNWWxRAkwFHQBLeUiKrcJdHQBJnWPp+pJ1HQBH1vEE2TE1HQBGAU5P5wl1HQBEMd8bUeqVHQBChp7EstnpHQBBFH2k8VW1HQA/Nt8Rhc9ZHQA8amRV4liJHQA5g/8WgAipHQA2yfTcOh65HQA0NumF7SOJHQAxxpizONu1HQAvcg62hmC9HQAs+ueyVuMhHQAqenRW+G49HQAoYuh/WANBHQAmONBBncrlHQAkI2O4ML7VHQAiB80VkdW5HQAgL2iDGJ81HQAeU0oSIsthHQAccQU4SAVRHQAaezFf1V1FHQAYroKk7vbhHQAW7XqQZXulHQAVPcu021UNHQATdV0QChnhHQAR8l0R6/6BHQAQYrFlj5H9HQAO7zIl3qkBHQANew884rApHQAL7nHXHbGxHQAKVLV489NRHQAI2Ln42/xpHQAHbHfFu8X9HQAGIOfRXl2tHQAEvzJZFUSNHQADcHz1t86xHQACFIoGzV85HQAA4bOeqlsRHP//KXDRJLMxHP/8m1YlPE1JHP/6LjEOODflHP/3rCfQX+txHP/1QJ7W3MWZHP/y1e6Um55JHP/wYRm+poGBHP/uMFHPb4dJHP/sDdYWau7NHP/p/g5kSyW5HP/n8arStmq9HP/l0g8P3mTRHP/jv2cam5yRHP/h3/sCKIWhHP/f4m8M+E0BHP/d+OEfmmoxHP/cBRi/evDpHP/aK5gZwlQJHP/YPK9rYTu1HP/WZISoO4AZHP/UfBAvmezZHP/S0YaHmb7dHP/REfpdObqFHP/PSOLZRFlNHP/NjYW0w1I1HP/LwMlqLvfpHP/KHuZcMQA9HP/IdIHpbylJHP/Gy5sUEo1lHP/FKzPieCVBHP/DhfIGnEc1HP/CAWGYINWtHP/AbosMVVj5HP+9obD2kH2NHP+6hRRrAmG5HP+3bvTprOWNHP+0dZIcYp89HP+xgwwUO0CZHP+uq6mRRA2dHP+rxHvmxH+dHP+pBQ4lnS8VHP+mRIP4ynOFHP+ji4ul/D9BHP+g3F7R+0UxHP+eHOHPPsThHP+bYKCIaWXNHP+YryaTwjRVHP+WCvtVw9fZHP+TWUNo7yWdHP+QtHlI+vqtHP+OOcLhIqolHP+LrvimGgNhHP+JIOxt8XitHP+Gg+KhBqe5HP+D7EQxoSEhHP+Babo0wL1tHP990X6yJVwlHP947itnxQX1HP9zlg3D/xf9HP9umFzy/R5hHP9pvDKyBVzlHP9lBrfXoS4NHP9gQouiokA9HP9blVY7llURHP9XJYE7kLOxHP9SZdbAZDBZHP9NzmRqtaetHP9Jcnnbp01RHP9E0a73paPlHP9AUt/kABeVHP83hIp85vvlHP8u/ObpgaMxHP8lo0DRIVq9HP8dC9LE4vTRHP8U9MNx08C5HP8McEiioifJHP8D7pw19p+9HP733abdWSRVHP7nRE/GYybFHP7W9wtcge5BHP7G75MlkTVlHP6u8/G+zy2RHP6NMQ5/1iuBHP5aPXCj1wqBljAdoX3JhbmdllEc/lo9cKPXCoEdALfYo9cKPWoaUjAdmX3JhbmdllEdBSA4+P8LVRUdBSI6Alul41IaUjAJkY5RLEHUu
#*# calibrated_drive_currents = 15, 16
#*# calibration_version = 3
#*# saved_reg_drive_current = 15
#*# saved_tap_drive_current = 16
