[include mainsail.cfg]
[include sovol-macros.cfg]
[include print-macros.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN
[include eddy-ng.cfg]
[include shelly_1PM.cfg]
[include shaketune.cfg]
[include EBB36.cfg]
[include yavoth_led.cfg]

[mcu]      
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD605334E563617772051-if00
restart_method: command     

# [mcu extra_mcu]
# serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_55FF72064849825347111667-if00
# restart_method: command  

[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_0B001300134330534E373720-if00
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[respond]

[printer]
kinematics: corexy           
max_velocity: 200            
max_accel: 10000             
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 64 #16               
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355       
position_max: 355            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: False #True             
run_current: 0.8 #1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 64                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 362         
position_max: 362            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: False             
run_current: 0.8              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0 #war auskommentiert
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 0 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 0 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 0 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 0 

# [thermistor my_thermistor_e]
# temperature1:25
# resistance1:110000
# temperature2:100
# resistance2:7008
# temperature3:220
# resistance3:435

      

# [verify_heater extruder]      
# max_error: 120                
# check_gain_time:30           
# hysteresis: 5                
# heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 120                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	16,10
	16,320
	329,320
	329,10
speed: 200                   
horizontal_move_z: 10       
retry_tolerance: 0.05      
retries: 5                  
max_adjust: 30


[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
[controller_fan MCU_fan]
pin: PA1
max_power: 1
kick_start_time: 0.5
fan_speed: 1
idle_timeout: 300
heater:  extruder, heater_bed 
stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
#[temperature_fan MCU_fan]
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#hardware_pwm: true
#target_temp: 50
#sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
#max_speed: 1.0
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan


[gcode_arcs]                       
resolution: 1.0                    

# Defined as an LED for ease of control
[led main_led]
white_pin:PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110


[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: expander:PA6
gcode_id: T3

[temperature_sensor Printplate]
sensor_type: Generic 3950
sensor_pin: expander:PA5
gcode_id: T1

# [board_pins]
# aliases:
#     # EXP1 header
#     EXP1_1=PA8,   EXP1_2=PC9,
#     EXP1_3=PA10,  EXP1_4=PA9,
#     EXP1_5=PC11,  EXP1_6=PC10,
#     EXP1_7=PD8,   EXP1_8=PC12,
#     EXP1_9=<GND>, EXP1_10=<5V>,

#     # EXP2 header
#     EXP2_1=PB14,  EXP2_2=PB13,
#     EXP2_3=PC7,   EXP2_4=PB12,
#     EXP2_5=PC6,   EXP2_6=PB15,
#     EXP2_7=PC8,   EXP2_8=<RST>,
#     EXP2_9=<GND>, EXP2_10=<5V>

# [temperature_sensor Bauraum]
# sensor_type: Generic 3950
# sensor_pin: EXP2_7
# #pullup_resistor: 2200

[pause_resume]

[exclude_object]


[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:1
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5


[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

[probe_eddy_ng btt_eddy]
#tap_adjust_z: 0.165

[input_shaper]
#shaper_freq_x: 62.2 # center frequency for the X axis filter
#shaper_type_x: mzv # filter type for the X axis
#shaper_freq_y: 44.6 #46.8 # center frequency for the Y axis filter
#shaper_type_y: mzv # filter type for the Y axis
#damping_ratio_x: 0.1 # 0.053 # damping ratio for the X axis
#damping_ratio_y: 0.1 #0.056 # damping ratio for the Y axis

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 53.298
#*# pid_ki = 1.356
#*# pid_kd = 523.654
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.025504, 0.038637, 0.096318, 0.138331, 0.158295, 0.170509, 0.182723, 0.187556, 0.186416, 0.169372, 0.154695, 0.118694, 0.072312, 0.033492, -0.006596
#*# 	-0.034785, 0.024167, 0.054234, 0.101119, 0.120873, 0.141055, 0.148963, 0.151416, 0.154695, 0.143237, 0.127964, 0.101119, 0.064964, 0.024167, -0.010611
#*# 	-0.027015, 0.041250, 0.080787, 0.101119, 0.127964, 0.140784, 0.152507, 0.152510, 0.150325, 0.138331, 0.119785, 0.099992, 0.055361, 0.024167, -0.016870
#*# 	-0.021943, 0.045296, 0.081914, 0.101119, 0.119785, 0.138331, 0.146510, 0.148963, 0.146510, 0.129055, 0.110509, 0.091516, 0.062710, 0.021357, -0.028202
#*# 	-0.029390, 0.044056, 0.073439, 0.101119, 0.129055, 0.142966, 0.150325, 0.150325, 0.141055, 0.124697, 0.101119, 0.078240, 0.053107, 0.013602, -0.023130
#*# 	0.004274, 0.062710, 0.090389, 0.117603, 0.135058, 0.147601, 0.153601, 0.145419, 0.141055, 0.126873, 0.115147, 0.081914, 0.054234, 0.021357, -0.011798
#*# 	-0.006544, 0.053107, 0.085588, 0.105856, 0.119785, 0.129055, 0.132602, 0.133967, 0.127964, 0.118694, 0.097444, 0.035968, 0.034732, 0.003038, -0.025828
#*# 	0.018885, 0.063837, 0.093770, 0.115147, 0.123329, 0.129055, 0.145419, 0.140784, 0.138331, 0.127964, 0.110509, 0.081914, 0.057612, 0.029120, -0.015501
#*# 	-0.027015, 0.042816, 0.072312, 0.091516, 0.103379, 0.110509, 0.121961, 0.122241, 0.110509, 0.101119, 0.089262, 0.073439, 0.045296, 0.007983, -0.018058
#*# 	-0.019568, 0.048721, 0.062710, 0.081914, 0.091516, 0.101119, 0.117603, 0.125785, 0.110509, 0.086715, 0.081914, 0.071185, 0.038774, 0.006747, -0.016870
#*# 	-0.025828, 0.037208, 0.062710, 0.084168, 0.099992, 0.110509, 0.111600, 0.119785, 0.115147, 0.103379, 0.081914, 0.062710, 0.029449, -0.000102, -0.027019
#*# 	0.000228, 0.030686, 0.062710, 0.091516, 0.101119, 0.114056, 0.122241, 0.124697, 0.119785, 0.110509, 0.089262, 0.063837, 0.042816, 0.024167, -0.025828
#*# 	-0.033275, 0.045296, 0.072312, 0.091516, 0.110509, 0.127964, 0.129055, 0.119785, 0.112691, 0.108333, 0.099992, 0.071185, 0.037208, 0.013602, -0.012985
#*# 	-0.033275, 0.024167, 0.062710, 0.092643, 0.119785, 0.135058, 0.131511, 0.117603, 0.111600, 0.112691, 0.099992, 0.062710, 0.034732, 0.013602, -0.023130
#*# 	-0.044930, 0.034732, 0.063837, 0.112691, 0.135058, 0.146510, 0.153601, 0.138331, 0.129055, 0.129055, 0.116515, 0.072312, 0.034732, 0.013602, -0.012985
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.5
#*# min_x = 15.0
#*# max_x = 334.90000000000003
#*# min_y = 18.0
#*# max_y = 334.95999999999987
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 58.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 38.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibration_15 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIKx59T987R0FIK9pD2LeFR0FILJYKYY/QR0FILVHQ6mgaR0FILg2Xc0BlR0FILsld/BivR0FIL4UkhPD6R0FIMEDrDclER0FIMPyxlqGPR0FIMbh4H3nZR0FIMnQ+qFIjR0FIMzAFMSpuR0FIM+vLugK4R0FINKeSQtsDR0FINWNYy7NNR0FINh8fVIuYR0FINtrl3WPiR0FIN5asZjwtR0FIOFJy7xR3R0FIOQ45d+zBR0FIOcoAAMUMR0FIOoXGiZ1WR0FIO0GNEnWhR0FIO/1Tm03rR0FIPLkaJCY2R0FIPXTgrP6AR0FIPjCnNdbLR0FIPuxtvq8VR0FIP6g0R4dfR0FIQGP60F+qR0FIQR/BWTf0R0FIQduH4hA/R0FIQpdOauiJR0FIQ1MU88DUR0FIRA7bfJkeR0FIRMqiBXFpR0FIRYZojkmzR0FIRkIvFyH9R0FIRv31n/pIR0FIR7m8KNKSR0FISHWCsardR0FISTFJOoMnR0FISe0Pw1tyR0FISqjWTDO8R0FIS2Sc1QwGR0FITCBjXeRRR0FITNwp5rybR0FITZfwb5TmR0FITlO2+G0wR0FITw99gUV7R0FIT8tECh3FR0FIUIcKkvYQR0FIUULRG85aR0FIUf6XpKakR0FIUrpeLX7vR0FIU3Yktlc5R0FIVDHrPy+ER0FIVO2xyAfOR0FIVal4UOAZR0FIVmU+2bhjR0FIVyEFYpCuR0FIV9zL62j4R0FIWJiSdEFCR0FIWVRY/RmNR0FIWhAfhfHXR0FIWsvmDsoiR0FIW4esl6JsR0FIXENzIHq3R0FIXP85qVMBR0FIXbsAMitMR0FIXnbGuwOWR0FIXzKNQ9vgR0FIX+5TzLQrR0FIYKoaVYx1R0FIYWXg3mTAR0FIYiGnZz0KR0FIYt1t8BVVR0FIY5k0eO2fR0FIZFT7AcXqR0FIZRDBip40R0FIZcyIE3Z+R0FIZohOnE7JR0FIZ0QVJScTR0FIZ//brf9eR0FIaLuiNteoR0FIaXdov6/zR0FIajMvSIg9R0FIau710WCIR0FIa6q8WjjSR0FIbGaC4xEcR0FIbSJJa+lnR0FIbd4P9MGxR0FIbpnWfZn8R0FIb1WdBnJGR0FIcBFjj0qRR0FIcM0qGCLbR0FIcYjwoPsmR0FIckS3KdNwR0FIcwB9squ6R0FIc7xEO4QFR0FIdHgKxFxPR0FIdTPRTTSaR0FIde+X1gzkR0FIdqteXuUvR0FId2ck5715R0FIeCLrcJXER0FIeN6x+W4OR0FIeZp4gkZYR0FIelY/Cx6jR0FIexIFk/btR0FIe83MHM84R0FIfImSpaeCR0FIfUVZLn/NR0FIfgEft1gXR0FIfrzmQDBiR0FIf3isyQisR0FIgDRzUeD2R0FIgPA52rlBR0FIgawAY5GLR0FIgmfG7GnWR0FIgyONdUIgR0FIg99T/hprR0FIhJsahvK1R0FIhVbhD8r/R0FIhhKnmKNKR0FIhs5uIXuUR0FIh4o0qlPfR0FIiEX7MywpR0FIiQHBvAR0R0FIib2IRNy+R0FIinlOzbUJR0FIizUVVo1TR0FIi/Db32WdR0FIjKyiaD3oR0FIjWho8RYyR0FIjiQvee59R0FIjt/2AsbHR0FIj5u8i58SR0FIkFeDFHdcR0FIkRNJnU+nR0FIkc8QJifxR0FIkorWrwA7R0FIk0adN9iGR0FIlAJjwLDQR0FIlL4qSYkbR0FIlXnw0mFlR0FIljW3WzmwR0FIlvF95BH6R0FIl61EbOpFR0FImGkK9cKPZYwBaJRdlChHQC32R64UeuBHQCtxcZl7K6VHQCkato1Yel1HQCdT+l5BixpHQCVwjQAve/5HQCRTETOWH3pHQCM1RSLCT2NHQCIY3ncDe79HQCFiOendmGFHQCCS3eyEFktHQB/jilmQdz1HQB6qJHFNfnBHQB18BdmJhyZHQBxKWTNueZdHQBt3H3PHQyJHQBqe7A3uE4tHQBnGD89KMCNHQBjMjEfaS/9HQBhGQ6lOLNZHQBds1xtea4tHQBbdiqWjbRdHQBY1LsvsG2RHQBWACiMCCeFHQBT4xYnTtfNHQBR0D++gX7BHQBPxkB3Q+YpHQBN9RClX9sFHQBMTKqqqgphHQBKffXqRznZHQBIodJ66bCBHQBG1dzce5KpHQBFKXz3/0XRHQBD1bL3USC1HQBCHZU5Y44ZHQBAxx9U78e5HQA/IcsZB+NNHQA8VzXdDmQ5HQA5bOue9W/dHQA279oL0CqxHQA0eAUsXfRRHQAyGnAP413tHQAvl4kFq0FFHQAthergO3jFHQArhPbpT3+hHQApaEY9g9vBHQAnVoDAnrdlHQAlD9Hx3nmRHQAi7SLza04xHQAg9VzbiyThHQAfRKm7sCfJHQAdk4Td3+wNHQAb3aEK2ZZZHQAaQNa/boUNHQAYcIt7Qgz9HQAW3Hp9cJ7hHQAVFKSUi/8lHQATcICds7uBHQAR3qT6vsiVHQAQX6Ez/arRHQAO/FPEE7r9HQANiz7GyITFHQAL6F3rk6IFHQAKho1kXeO5HQAJBGUh+KGhHQAHlnXdgj+JHQAGNY9HvnIpHQAE1NxdJ639HQADbk9iq8oZHQACI74vqrg5HQAA7C9QLXddHP//V0yMfD/ZHP/8+ReXprvVHP/6hn9GhWPpHP/4GrfC4a0NHP/1s+WosMDVHP/zVlFe5LNhHP/xKwKQm2P9HP/u8Lig66L5HP/sx9juHSyxHP/qnPCmBW91HP/ojOCPzhy5HP/mjNkjXCxVHP/kapWwSB71HP/iTl39fpg9HP/ga0chR05ZHP/eY8JLqy1ZHP/cl0Rsw3yNHP/avZnw+fKNHP/Y690fqVutHP/XDksWCba1HP/VXVBVdGyFHP/Ti8hycLwhHP/RvY/A9ik5HP/P6xgTwYnFHP/OJ2hY7CqxHP/MasV/IVw5HP/KppO0CVTJHP/I3upq9MTlHP/HRDCcuINVHP/FjH9qkOBJHP/DxGly5s9VHP/CG/Nd6/B1HP/AcqX1eb19HP+9nUDgA+IdHP+6dbWw9sPhHP+3WtYFRsulHP+0VqCXRBjJHP+xYLVsQR+dHP+uPq2dqTH9HP+rFVgribxRHP+oFaKUZ8ttHP+lJU+E5m/5HP+ia+PG3g4hHP+fSNB3xtK5HP+cbenKXDMNHP+Zosgfmp1JHP+W4WwfMoldHP+UNO2v+l+xHP+Q+FE3ZpRRHP+OIqd7A/PpHP+LTyv0xyS1HP+IhaWmMTWBHP+Fry11mA5hHP+C6rpOHGeNHP+AIuCA+QQpHP97X28X8F+pHP92EVPno2cVHP9xFLC+g+zdHP9sCWbSSeEpHP9m1R0hEpilHP9hpwuIKun5HP9cY/2j+lVxHP9W8ORO4VfNHP9RZFcZkzkxHP9MWbjCu875HP9HHqHc7qwBHP9B/2dRmHBJHP85z2fMBXkFHP8wfeF9T3fVHP8m+MQmcJEBHP8dwAMwHxz5HP8Ui/Sa19WhHP8LCgu4EaP9HP8BzXF/HLstHP7w60LUjZrdHP7eI/N//0PRHP7LMNKFjrE1HP6yo447INhdHP6OpC6aak49HP5VcKPXCjoBljAdoX3JhbmdllEc/lVwo9cKOgEdALfZHrhR64IaUjAdmX3JhbmdllEdBSCsefU/fO0dBSJhpCvXCj4aUjAJkY5RLD3Uu
#*# calibrated_drive_currents = 15
#*# calibration_version = 3
#*# saved_reg_drive_current = 15
