[include mainsail.cfg]
[include sovol-macros.cfg]
[include print-macros.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN
[include eddy-ng.cfg]
[include shelly_1PM.cfg]
[include shaketune.cfg]
[include EBB36.cfg]
[include yavoth_led.cfg]

[mcu]      
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD605334E563617772051-if00
restart_method: command     

# [mcu extra_mcu]
# serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_55FF72064849825347111667-if00
# restart_method: command  

[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_0B001300134330534E373720-if00
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[respond]

[printer]
kinematics: corexy           
max_velocity: 200            
max_accel: 20000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 64 #16               
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355       
position_max: 355            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: False #True             
run_current: 0.8 #1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 64                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: False             
run_current: 0.8              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0 #war auskommentiert
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 0 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 0 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 0 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 0 

# [thermistor my_thermistor_e]
# temperature1:25
# resistance1:110000
# temperature2:100
# resistance2:7008
# temperature3:220
# resistance3:435

      

# [verify_heater extruder]      
# max_error: 120                
# check_gain_time:30           
# hysteresis: 5                
# heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 120                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 



# [quad_gantry_level]          
# gantry_corners:              
# 	-60,-10
# 	410,420
# points:
# 	36,10
# 	36,320
# 	346,320
# 	346,10
# speed: 200                   
# horizontal_move_z: 10       
# retry_tolerance: 0.05      
# retries: 5                  
# max_adjust: 30   

# [quad_gantry_level]          
# gantry_corners:              
# 	-60,-10
# 	410,420
# points:
# 	16,10
# 	16,320
# 	340,320
# 	340,10
# speed: 200                   
# horizontal_move_z: 10       
# retry_tolerance: 0.05      
# retries: 5                  
# max_adjust: 30

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	16,10
	16,320
	329,320
	329,10
speed: 200                   
horizontal_move_z: 10       
retry_tolerance: 0.05      
retries: 5                  
max_adjust: 30


[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
[controller_fan MCU_fan]
pin: PA1
max_power: 1
kick_start_time: 0.5
fan_speed: 1
idle_timeout: 300
heater:  extruder, heater_bed 
stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
#[temperature_fan MCU_fan]
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#hardware_pwm: true
#target_temp: 50
#sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
#max_speed: 1.0
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan


[gcode_arcs]                       
resolution: 1.0                    

# Defined as an LED for ease of control
[led main_led]
white_pin:PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110


[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: expander:PA6
gcode_id: T3

[temperature_sensor Printplate]
sensor_type: Generic 3950
sensor_pin: expander:PA5
gcode_id: T1

# [board_pins]
# aliases:
#     # EXP1 header
#     EXP1_1=PA8,   EXP1_2=PC9,
#     EXP1_3=PA10,  EXP1_4=PA9,
#     EXP1_5=PC11,  EXP1_6=PC10,
#     EXP1_7=PD8,   EXP1_8=PC12,
#     EXP1_9=<GND>, EXP1_10=<5V>,

#     # EXP2 header
#     EXP2_1=PB14,  EXP2_2=PB13,
#     EXP2_3=PC7,   EXP2_4=PB12,
#     EXP2_5=PC6,   EXP2_6=PB15,
#     EXP2_7=PC8,   EXP2_8=<RST>,
#     EXP2_9=<GND>, EXP2_10=<5V>

# [temperature_sensor Bauraum]
# sensor_type: Generic 3950
# sensor_pin: EXP2_7
# #pullup_resistor: 2200

[pause_resume]

[exclude_object]


[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:1
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5


[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

[probe_eddy_ng btt_eddy]
#tap_adjust_z: 0.165

# [input_shaper]
# shaper_freq_x: 65.6 # center frequency for the X axis filter
# shaper_type_x: mzv # filter type for the X axis
# shaper_freq_y: 46.8 # center frequency for the Y axis filter
# shaper_type_y: mzv # filter type for the Y axis
# damping_ratio_x: 0.042 # damping ratio for the X axis
# damping_ratio_y: 0.057 # damping ratio for the Y axis


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 53.298
#*# pid_ki = 1.356
#*# pid_kd = 523.654
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.025504, 0.038637, 0.096318, 0.138331, 0.158295, 0.170509, 0.182723, 0.187556, 0.186416, 0.169372, 0.154695, 0.118694, 0.072312, 0.033492, -0.006596
#*# 	-0.034785, 0.024167, 0.054234, 0.101119, 0.120873, 0.141055, 0.148963, 0.151416, 0.154695, 0.143237, 0.127964, 0.101119, 0.064964, 0.024167, -0.010611
#*# 	-0.027015, 0.041250, 0.080787, 0.101119, 0.127964, 0.140784, 0.152507, 0.152510, 0.150325, 0.138331, 0.119785, 0.099992, 0.055361, 0.024167, -0.016870
#*# 	-0.021943, 0.045296, 0.081914, 0.101119, 0.119785, 0.138331, 0.146510, 0.148963, 0.146510, 0.129055, 0.110509, 0.091516, 0.062710, 0.021357, -0.028202
#*# 	-0.029390, 0.044056, 0.073439, 0.101119, 0.129055, 0.142966, 0.150325, 0.150325, 0.141055, 0.124697, 0.101119, 0.078240, 0.053107, 0.013602, -0.023130
#*# 	0.004274, 0.062710, 0.090389, 0.117603, 0.135058, 0.147601, 0.153601, 0.145419, 0.141055, 0.126873, 0.115147, 0.081914, 0.054234, 0.021357, -0.011798
#*# 	-0.006544, 0.053107, 0.085588, 0.105856, 0.119785, 0.129055, 0.132602, 0.133967, 0.127964, 0.118694, 0.097444, 0.035968, 0.034732, 0.003038, -0.025828
#*# 	0.018885, 0.063837, 0.093770, 0.115147, 0.123329, 0.129055, 0.145419, 0.140784, 0.138331, 0.127964, 0.110509, 0.081914, 0.057612, 0.029120, -0.015501
#*# 	-0.027015, 0.042816, 0.072312, 0.091516, 0.103379, 0.110509, 0.121961, 0.122241, 0.110509, 0.101119, 0.089262, 0.073439, 0.045296, 0.007983, -0.018058
#*# 	-0.019568, 0.048721, 0.062710, 0.081914, 0.091516, 0.101119, 0.117603, 0.125785, 0.110509, 0.086715, 0.081914, 0.071185, 0.038774, 0.006747, -0.016870
#*# 	-0.025828, 0.037208, 0.062710, 0.084168, 0.099992, 0.110509, 0.111600, 0.119785, 0.115147, 0.103379, 0.081914, 0.062710, 0.029449, -0.000102, -0.027019
#*# 	0.000228, 0.030686, 0.062710, 0.091516, 0.101119, 0.114056, 0.122241, 0.124697, 0.119785, 0.110509, 0.089262, 0.063837, 0.042816, 0.024167, -0.025828
#*# 	-0.033275, 0.045296, 0.072312, 0.091516, 0.110509, 0.127964, 0.129055, 0.119785, 0.112691, 0.108333, 0.099992, 0.071185, 0.037208, 0.013602, -0.012985
#*# 	-0.033275, 0.024167, 0.062710, 0.092643, 0.119785, 0.135058, 0.131511, 0.117603, 0.111600, 0.112691, 0.099992, 0.062710, 0.034732, 0.013602, -0.023130
#*# 	-0.044930, 0.034732, 0.063837, 0.112691, 0.135058, 0.146510, 0.153601, 0.138331, 0.129055, 0.129055, 0.116515, 0.072312, 0.034732, 0.013602, -0.012985
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.5
#*# min_x = 15.0
#*# max_x = 334.90000000000003
#*# min_y = 18.0
#*# max_y = 334.95999999999987
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibration_15 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FILEzK/a3OR0FILSGappe4R0FILfZqT4GiR0FILss5+GuMR0FIL6AJoVV2R0FIMHTZSj9gR0FIMUmo8ylJR0FIMh54nBMzR0FIMvNIRP0dR0FIM8gX7ecHR0FINJznltDxR0FINXG3P7rbR0FINkaG6KTFR0FINxtWkY6vR0FIN/AmOniZR0FIOMT142KDR0FIOZnFjExsR0FIOm6VNTZWR0FIO0Nk3iBAR0FIPBg0hwoqR0FIPO0EL/QUR0FIPcHT2N3+R0FIPpajgcfoR0FIP2tzKrHSR0FIQEBC05u8R0FIQRUSfIWmR0FIQeniJW+QR0FIQr6xzll5R0FIQ5OBd0NjR0FIRGhRIC1NR0FIRT0gyRc3R0FIRhHwcgEhR0FIRubAGusLR0FIR7uPw9T1R0FISJBfbL7fR0FISWUvFajJR0FISjn+vpKzR0FISw7OZ3ydR0FIS+OeEGaGR0FITLhtuVBwR0FITY09YjpaR0FITmINCyRER0FITzbctA4uR0FIUAusXPgYR0FIUOB8BeICR0FIUbVLrsvsR0FIUoobV7XWR0FIU17rAJ/AR0FIVDO6qYmpR0FIVQiKUnOTR0FIVd1Z+119R0FIVrIppEdnR0FIV4b5TTFRR0FIWFvI9hs7R0FIWTCYnwUlR0FIWgVoR+8PR0FIWto38Nj5R0FIW68HmcLjR0FIXIPXQqzNR0FIXVim65a2R0FIXi12lICgR0FIXwJGPWqKR0FIX9cV5lR0R0FIYKvljz5eR0FIYYC1OChIR0FIYlWE4RIyR0FIYypUifwcR0FIY/8kMuYGR0FIZNPz28/wR0FIZajDhLnaR0FIZn2TLaPDR0FIZ1Ji1o2tR0FIaCcyf3eXR0FIaPwCKGGBR0FIadDR0UtrR0FIaqWhejVVR0FIa3pxIx8/R0FIbE9AzAkpR0FIbSQQdPMTR0FIbfjgHdz9R0FIbs2vxsbmR0FIb6J/b7DQR0FIcHdPGJq6R0FIcUwewYSkR0FIciDuam6OR0FIcvW+E1h4R0FIc8qNvEJiR0FIdJ9dZSxMR0FIdXQtDhY2R0FIdkj8twAgR0FIdx3MX+oKR0FId/KcCNPzR0FIeMdrsb3dR0FIeZw7WqfHR0FIenELA5GxR0FIe0XarHubR0FIfBqqVWWFR0FIfO95/k9vR0FIfcRJpzlZR0FIfpkZUCNDR0FIf23o+Q0tR0FIgEK4ofcWR0FIgReISuEAR0FIgexX88rqR0FIgsEnnLTUR0FIg5X3RZ6+R0FIhGrG7oioR0FIhT+Wl3KSR0FIhhRmQFx8R0FIhuk16UZmR0FIh74FkjBQR0FIiJLVOxo6R0FIiWek5AQjR0FIijx0jO4NR0FIixFENdf3R0FIi+YT3sHhR0FIjLrjh6vLR0FIjY+zMJW1R0FIjmSC2X+fR0FIjzlSgmmJR0FIkA4iK1NzR0FIkOLx1D1dR0FIkbfBfSdHR0FIkoyRJhEwR0FIk2FgzvsaR0FIlDYwd+UER0FIlQsAIM7uR0FIld/PybjYR0FIlrSfcqLCR0FIl4lvG4ysR0FImF4+xHaWR0FImTMObWCAR0FImgfeFkpqR0FImtytvzRUR0FIm7F9aB49R0FInIZNEQgnR0FInVscufIRR0FIni/sYtv7R0FInwS8C8XlR0FIn9mLtK/PR0FIoK5bXZm5R0FIoYMrBoOjR0FIolf6r22NR0FIoyzKWFd3R0FIpAGaAUFgR0FIpNZpqitKR0FIpas5UxU0R0FIpoAI+/8eR0FIp1TYpOkIR0FIqCmoTdLyZYwBaJRdlChHQC31j1wo9cJHQCr//MVVM01HQCiCJjr/9ZhHQCbenz5e7KlHQCVxuoVtAE5HQCP0fzq0s6tHQCLzPtolUxhHQCIWMIgV0/tHQCFNEYknqEtHQCB/BlPcz4ZHQB+sk47uASxHQB5Osvnng+dHQB1bc+RpputHQBxGk86pJJtHQBth4HGBaEJHQBqFbOsF+BZHQBmhyKge0ABHQBjPvxfpKzlHQBgW/YWoMvNHQBeBmdf5JV9HQBbN9MrS5bZHQBYrQ/nKBNlHQBWMnis9d6FHQBUFRunVe/hHQBSSEhW0S9pHQBQc7qe5H7dHQBOZIYaxQ9JHQBMlBKPj3eRHQBKuy2XPyGpHQBJF0xyVrjxHQBHbL3eNW7ZHQBF1lLMjf89HQBETqaBOyVBHQBC6l+p6EAJHQBBg0BK7r8ZHQBAOQXH6b95HQA95bH0oxOdHQA7F3x7pLzNHQA4aTj/yF7RHQA2DfbjAXlRHQAz7EBHQWkJHQAxlsOe+7S1HQAvjnD9UPKBHQAtbvH1lMM1HQArL9CzsgEhHQApJle6Kqg5HQAnIAMXV5xVHQAlTLW8MWRlHQAjUD5RNoA1HQAhmFMMHcCpHQAf0j84dbQ5HQAeGX+/Pne5HQAcd6vLi3+9HQAaz6f60AJ9HQAZSw65NCZ1HQAXnsmWdDLBHQAWB5Z3z4mJHQAUblvXE8FVHQAS4+c/9dO1HQARcw0f6IP9HQAQBRyNeyptHQAOraAg89ZNHQANQ7X4NartHQAL3CRkqwQdHQAKgiGKW0a1HQAJMd9lOo/xHQAH7Tv6hudNHQAGst62motRHQAFdmqIBDYdHQAEMPjM7L5JHQAC8vXKtzFtHQABvl6XYyb5HQAAkRAWWFmlHP/+7NKf/Z9BHP/8zeijMfPZHP/6h5uuBarFHP/4SFtCYPWlHP/2TXK8YjxxHP/z+aRbZuedHP/x2sP1VxGFHP/v3APVc8UhHP/tt/c5mvD9HP/rsjRSEL7NHP/pqDAEt9EBHP/nzYdjkvBJHP/l5iBzRJJ9HP/kDMoicSalHP/iJFhJXMvBHP/gPOCHsUllHP/eUjpZeYNpHP/cjXIoNzRlHP/a2B7oe+8FHP/ZDaiaWXWdHP/XSowLEWLdHP/Vpjgzf+dNHP/T8bLXUl1hHP/SD1wxx9dJHP/QaUYbGd19HP/OwP9+1DZRHP/NEfRwbZ+FHP/LZeiu8309HP/J0sOJhk8ZHP/IPBBqXzO5HP/Gqyf0+dH5HP/FGN0yUMNNHP/DqFl/8WApHP/CFwA36ZcRHP/AiCwL8UWxHP++E0dl34IRHP+7HzJTJmeRHP+4LP9v+0jJHP+1LRA1E7ndHP+ygjZGuSc5HP+vwyafShSNHP+tCSV3HWthHP+qNTig1k65HP+nYIkkn/C5HP+ktbJHpAX5HP+h2P/G+/vNHP+e1kVHwkhpHP+cJ+adD0EdHP+ZVOsKIrQlHP+WnXEn0lHBHP+T2E8oDBiRHP+RF2V3NtaFHP+Ojb2a0E5ZHP+L/69n2EjJHP+Jaxi7eycxHP+G3oIAS5bhHP+EW7TdbUqdHP+B5h5+NxoRHP9+oF7OOJXhHP95paRoAjtNHP90nJtgunWJHP9vhctMzD+1HP9qjmtx3u+FHP9lnh2J44jhHP9gu/OIMvD9HP9bylWepG/RHP9W8wps9GXhHP9SF9X/Iy2dHP9NLROdJsOlHP9IfDDO1wOVHP9D5Thx50d9HP8+pE9FLpclHP81bBbbHrolHP8sL+YVOIOdHP8jUAxknczpHP8aTB3BfEqNHP8RXCj1wo9dljAdoX3JhbmdllEc/xFcKPXCj10dALfWPXCj1woaUjAdmX3JhbmdllEdBSCxMyv2tzkdBSKgpqE3S8oaUjAJkY5RLD3Uu
#*# calibration_16 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIDeRZrULER0FIDuraJyESR0FID/FaoP9fR0FIEPfbGt2tR0FIEf5blLv6R0FIEwTcDppIR0FIFAtciHiVR0FIFRHdAlbjR0FIFhhdfDUwR0FIFx7d9hN+R0FIGCVeb/HLR0FIGSve6dAZR0FIGjJfY65mR0FIGzjf3Yy0R0FIHD9gV2sBR0FIHUXg0UlPR0FIHkxhSyecR0FIH1LhxQXqR0FIIFliPuQ4R0FIIV/iuMKFR0FIImZjMqDTR0FII2zjrH8gR0FIJHNkJl1uR0FIJXnkoDu7R0FIJoBlGhoJR0FIJ4blk/hWR0FIKI1mDdakR0FIKZPmh7TxR0FIKppnAZM/R0FIK6Dne3GMR0FILKdn9U/aR0FILa3oby4nR0FILrRo6Qx1R0FIL7rpYurCR0FIMMFp3MkQR0FIMcfqVqdeR0FIMs5q0IWrR0FIM9TrSmP5R0FINNtrxEJGR0FINeHsPiCUR0FINuhst/7hR0FIN+7tMd0vR0FIOPVtq7t8R0FIOfvuJZnKR0FIOwJun3gXR0FIPAjvGVZlR0FIPQ9vkzSyR0FIPhXwDRMAR0FIPxxwhvFNR0FIQCLxAM+bR0FIQSlxeq3pR0FIQi/x9Iw2R0FIQzZybmqER0FIRDzy6EjRR0FIRUNzYicfR0FIRknz3AVsR0FIR1B0VeO6R0FISFb0z8IHR0FISV11SaBVR0FISmP1w36iR0FIS2p2PVzwR0FITHD2tzs9R0FITXd3MRmLR0FITn33qvfYR0FIT4R4JNYmR0FIUIr4nrRzR0FIUZF5GJLBR0FIUpf5knEPR0FIU556DE9cR0FIVKT6hi2qR0FIVat7AAv3R0FIVrH7eepFR0FIV7h788iSR0FIWL78babgR0FIWcV854UtR0FIWsv9YWN7R0FIW9J920HIR0FIXNj+VSAWR0FIXd9+zv5jR0FIXuX/SNyxR0FIX+x/wrr+R0FIYPMAPJlMR0FIYfmAtneZR0FIYwABMFXnR0FIZAaBqjQ1R0FIZQ0CJBKCR0FIZhOCnfDQR0FIZxoDF88dR0FIaCCDka1rR0FIaScEC4u4R0FIai2EhWoGR0FIazQE/0hTR0FIbDqFeSahR0FIbUEF8wTuR0FIbkeGbOM8R0FIb04G5sGJR0FIcFSHYJ/XR0FIcVsH2n4kR0FIcmGIVFxyR0FIc2gIzjrAR0FIdG6JSBkNR0FIdXUJwfdbR0FIdnuKO9WoR0FId4IKtbP2R0FIeIiLL5JDR0FIeY8LqXCRR0FIepWMI07eR0FIe5wMnS0sR0FIfKKNFwt5R0FIfakNkOnHR0FIfq+OCsgUR0FIf7YOhKZiR0FIgLyO/oSvR0FIgcMPeGL9R0FIgsmP8kFKR0FIg9AQbB+YR0FIhNaQ5f3mR0FIhd0RX9wzR0FIhuOR2bqBR0FIh+oSU5jOR0FIiPCSzXccR0FIifcTR1VpR0FIiv2TwTO3R0FIjAQUOxIER0FIjQqUtPBSR0FIjhEVLs6fR0FIjxeVqKztR0FIkB4WIos6R0FIkSSWnGmIR0FIkisXFkfVR0FIkzGXkCYjR0FIlDgYCgRwR0FIlT6Yg+K+R0FIlkUY/cEMR0FIl0uZd59ZR0FImFIZ8X2nR0FImViaa1v0R0FIml8a5TpCR0FIm2WbXxiPR0FInGwb2PbdR0FInXKcUtUqR0FInnkczLN4R0FIn3+dRpHFR0FIoIYdwHATR0FIoYyeOk5gR0FIopMetCyuR0FIo5mfLgr7R0FIpKAfp+lJR0FIpaagIceWR0FIpq0gm6XkZYwBaJRdlChHQC324UeuFHpHQCpZ7zTdwjZHQCfM2iyUPtVHQCYFekJO+BdHQCRlPepJD29HQCMQ7Wm0e45HQCH8bBjjEWRHQCEA9x/BRjhHQCA3SgMdm+pHQB8PaG96uvRHQB2VgcuYxdVHQBxiTM4s3YlHQBtLXpf8+UlHQBpBtqrkIPpHQBlPFYtMMFpHQBh9Jjq3OG9HQBet5sJQdUZHQBbmGqmsanxHQBYul8n1iBZHQBWI2N/bw79HQBTZUJKgKCVHQBRWV4dD/FNHQBPAdpBl9OFHQBM6Fce/YUFHQBK93IG67G1HQBI3P+mC69dHQBHDhqrO8f5HQBFcOycl/cBHQBDjx62BbohHQBCADcmAdsVHQBAlMPLzzt9HQA9/M56cRuZHQA7RrLTcbBZHQA4X2qF6Y4xHQA1oPVaYSrRHQAzDBCvKh25HQAwkqH2AihFHQAuH/4dUSJFHQArkmoWV0eNHQApS/L5FT5xHQAnN0LxjbX9HQAlGvFa4goNHQAi+zzCawdRHQAg9qyHmycdHQAfB/vKSqJhHQAdHIIY0vaVHQAbRxlFgkSdHQAZeNBtraOlHQAXwmlli70lHQAV62AqYdJxHQAURxoNTsM1HQAShzGoGmwJHQARAToBuaj1HQAPa1bPFPI1HQAN4OMJIyUlHQAMTFHeSHgxHQAK3D2tvGWtHQAJZpU9Bd8lHQAIDti3UCKBHQAGm4Q0wczhHQAFPQ4RlyXZHQAD5bdPBaqNHQACnzEHJGM5HQABVeq/E8FJHQAAH12/hOARHP/9sNgg6QX5HP/7KX/lucWJHP/4u9a4K1D1HP/2P/55u7d9HP/z7bWithIxHP/xpRR/wphBHP/vbgVU3rZBHP/tLQcRRs5tHP/rAuuv9ML1HP/o1v++EmvJHP/mtnYrlCaZHP/kpysoVrZZHP/ijepWl0zxHP/gnBVVuWpxHP/erJNZ3ddpHP/cyxK3lwdNHP/a6HAS1uJFHP/ZHjXaTiqhHP/XVd3fok+hHP/Ve+OfPc8lHP/TrWRMhVbVHP/R1RVwHtL1HP/QDqfDJCs5HP/OUPzTQqIRHP/MqNhh7z1dHP/LA0W2ln0tHP/JWLXgSWBNHP/H08JQCXUpHP/GO2HkPvE1HP/EuKkvFd1JHP/DGpDO+dLxHP/BjPKaoKyBHP/ACl3L9hnpHP+9AiIqy9uBHP+6DMn0zaQZHP+3DHT/BHUBHP+0PZeXBlOJHP+xUvPoohblHP+ufKFS6UHxHP+rkWwElC39HP+oxLmL70Z5HP+l4ZSI+51JHP+jHe/tlRBZHP+gNh8D7Li9HP+dbqmmXd9hHP+awsbRzWURHP+YLCc361nNHP+Vf8IbDWiVHP+S7tK0I4xNHP+QbyxHc7GtHP+N7YO0x/CZHP+LhD6MK3uZHP+I9MWj+X1pHP+GkN3P4DS9HP+EJiEeo7ZZHP+Bx6fjqdSlHP9+x+XRMbUBHP956sPhVHNpHP91Mqvcs029HP9wkWAzyK2tHP9r4vUQGPs5HP9nP/ncHRqxHP9idfQWvqGlHP9d//u+8YnRHP9ZZyINextRHP9U3R39frMpHP9QZ1lrR6rlHP9L78gkjVwxHP9He2rsKUEJHP9C6j+eXUZtHP89DWzPy1+ZHP80MepS0RABHP8rEbL/s4U5HP8iWDKxsDPRHP8Z6mgeVBsJHP8ReUxRz1OVHP8JQYMnQLlRHP8Au4aSeWKJHP7x0ecuczjZHP7hfOPifWTlHP7Rez4IOt1hHP7BiCAQMiSJHP6jsqLSVo9BHP6C98282Z2BHP5I9cKPXCj1ljAdoX3JhbmdllEc/kj1wo9cKPUdALfbhR64UeoaUjAdmX3JhbmdllEdBSA3kWa1CxEdBSKatIJul5IaUjAJkY5RLEHUu
#*# calibrated_drive_currents = 15, 16
#*# calibration_version = 3
#*# saved_reg_drive_current = 15
#*# saved_tap_drive_current = 16
#*# tap_adjust_z = 0.040
